<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>companyEmail</key>
				<string>company1@gmail.com</string>
				<key>password</key>
				<integer>12345</integer>
				<key>companyName</key>
				<string>Company1</string>
				<key>Employees</key>
				<array>
					<dict>
						<key>name</key>
						<string>Employee1</string>
						<key>email</key>
						<string>test@gmail.com</string>
						<key>department</key>
						<string>Dev</string>
						<key>id</key>
						<string>EMP001</string>
						<key>active</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>Employee2</string>
						<key>email</key>
						<string>tes2t@gmail.com</string>
						<key>department</key>
						<string>Dev2</string>
						<key>id</key>
						<string>EMP002</string>
						<key>active</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>Employee3</string>
						<key>email</key>
						<string>test3@gmail.com</string>
						<key>department</key>
						<string>QA</string>
						<key>id</key>
						<string>EMP003</string>
						<key>active</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>companyEmail</key>
				<string>company2@gmail.com</string>
				<key>password</key>
				<integer>12345</integer>
				<key>companyName</key>
				<string>Company2</string>
				<key>Employees</key>
				<array>
					<dict>
						<key>name</key>
						<string>Test1</string>
						<key>email</key>
						<string>test1@gmail.com</string>
						<key>department</key>
						<string>QA1</string>
						<key>id</key>
						<string>EMP001</string>
						<key>active</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>Test2</string>
						<key>email</key>
						<string>test2@gmail.com</string>
						<key>department</key>
						<string>QA2</string>
						<key>id</key>
						<string>EMP002</string>
						<key>active</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>Test3</string>
						<key>email</key>
						<string>test3@gmail.com</string>
						<key>department</key>
						<string>DEV</string>
						<key>id</key>
						<string>EMP003</string>
						<key>active</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</plist>